.logo {
  border-right: 2px solid rgb(169, 169, 169);
  padding: 0 5rem 0 0;
  height: 100%;
  display: flex;
  align-items: center;
}
.logo h1 {
  font-size: 4rem;

  color: white;
}
.socialMedia {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.icons {
  color: rgb(169, 169, 169);
  font-size: 2rem;
}
.rightFooter {
  display: flex;
  justify-content: center;
}
.copyrightP {
  font-family: Arial;
  color: rgb(169, 169, 169);
  font-size: 1.2rem;
}
.copyright {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 0 0 4rem;
}
.footer {
  padding: 3rem;
  background-color: #263238;
  display: flex;
  flex-direction: row;
}
.leftFooter,
.rightFooter {
  display: flex;
  align-items: center;
  width: 50%;
}
.logoImage {
  width: 10rem;
  height: auto;
}
.privacy {
  color: white;
}
.privacy:hover {
  text-decoration: underline;
  cursor: pointer;
}
.socialIcon {
  font-size: 2rem;
  color: rgb(169, 169, 169);
}
.socialIcon:hover {
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 1.5rem;
    flex-direction: column;
    gap: 2rem;
  }
  .leftFooter {
    width: 100%;
  }
  .rightFooter {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    width: 100%;
  }
  .copyrightP {
    font-size: 1rem;
  }
  .copyright {
    text-align: center;
    width: 60%;
    padding: 0 0 0 2rem;
  }
  .logoImage {
    width: 7rem;
  }
  .logo {
    width: 40%;
    display: flex;
    justify-content: center;
  }
  .logo h1 {
    font-size: 3rem;
  }
  .socialMedia {
    position: absolute;
  }
  .logo {
    padding: 0 2rem 0 0;
  }
}
