.topPage {
  margin-top: 9rem;
  background-color: #f5f7fa;
  height: 45rem;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topPageRight,
.topPageLeft {
  padding: 3rem;
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.topPageLeft {
  flex-direction: column;
}
.downloadIcons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 4rem;
  width: 100%;
}
.downloadIconsSpan {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.downloadIconsText h1 {
  font-weight: 500;
  color: black;
}
.topImage {
  height: 24rem;
}
.phoneLogo {
  width: 12rem;
  height: 12rem;
}

.topPage h1 {
  font-size: 2.5rem;
}
.spanForTopText {
  z-index: 1;
  white-space: pre;
  position: relative;
}
.spanForTopText:before {
  background-color: rgba(40, 203, 139, 0.6);
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 50%;
  left: -2px;
  bottom: 0;
  z-index: 1;
}
.tags {
  margin-top: 16rem;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  column-gap: 10rem;
  row-gap: 5rem;
  font-size: 4rem;
  color: #103e13;
}
.tag {
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 5px 2px #e2e2e2;
  -moz-box-shadow: 0 0 5px 2px #e2e2e2;
  box-shadow: 0 0 5px 2px #e2e2e2;
  align-items: center;
  text-align: center;
  width: 20%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.tag h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.tagText {
  position: relative;
  width: 100%;
  padding: 0rem 10rem 0rem 10rem;
}
.tagTextHighlight {
  width: 3rem;
  border-radius: 10px;
  height: 100%;
  position: absolute;
  background-color: rgba(40, 203, 139, 1);
  left: 5rem;
}

.tagTextHighlight:before {
  content: "";
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(40, 203, 139, 0.3);
  top: 0.5rem;
  left: 0.5rem;
  z-index: -1;
}
.tagText p {
  font-size: 1.5rem;
}
.tagIcon {
  position: relative;
  padding: 2rem;
}
.tagBlockIcon {
  position: absolute;
  background-color: rgba(35, 125, 49, 0.3);
  border-radius: 5px 20px;
  z-index: -1;
  width: 3rem;
  height: 3rem;
  top: 18%;
  right: 13%;
}
.blocksInfo {
  margin-top: 10rem;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.blockInfoLeft p {
  margin-top: 4rem;
}
.blockInfo {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.blockInfo > div {
  width: 50%;
  padding: 5rem;
}

.blockInfo:nth-child(odd) {
  flex-direction: row-reverse;
}
.blockInfo {
  display: flex;
  align-items: center;
}
.blockInfoRight:nth-child(odd) {
  text-align: center;
}
.blockButton {
  margin-top: 2rem;
  font-size: 1rem;
  padding: 1.2rem;
  background-color: #28cb8b;
  border-radius: 10px;
  border: none;
  color: white;
}
.blockImage {
  width: 15rem;
}
.cardsMain {
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 8rem;
}
.cardsInfo {
  text-align: center;
  margin-top: 10rem;
  width: auto;
  height: auto;
}
.cardsInfo h1 {
  font-size: 2.5rem;
  color: #717171;
  font-weight: 500;
}
.cardInfo {
  border: 1px solid black;
  padding: 5rem 2rem 5rem 2rem;
  height: auto;
  width: 20rem;
  border-radius: 10px;
}
.cardInfoImage {
  margin-top: 4rem;
  width: 90%;
  height: auto;
}
.cardInfoImageDiv {
  height: 30%;
}
.cardText {
  margin-top: 3rem;
  height: 30%;
}
.cardText p {
  font-family: Arial;
  font-size: 1.1rem;
  color: #717171;
  font-weight: 800;
}
.contactUs {
  margin-top: 15rem;
  background-color: #f5f7fa;
  width: 100%;
  height: 40rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contactUsForm {
  text-align: center;
  display: flex;
  align-items: center;
  width: 50%;
  flex-direction: column;
}
.contactUsImage {
  display: flex;
  justify-content: center;
}
.imageContact {
  width: 80%;
}
.contactUsForm textarea {
  resize: none;
  font-size: 1.1rem;
  padding: 0.8rem;
  height: 8rem;
  border-radius: 10px;
  border: none;
}
.contactUsForm button {
  width: 50%;
  box-shadow: 0 10px 0 rgba(40, 203, 139, 0.6);
  background: rgba(40, 203, 139);
  border: none;
  color: white;
  padding: 0.8rem;
  font-size: 1.1rem;
  border-radius: 10px;
  transition: box-shadow 0.3s, transform 0.3s;
}
.contactUsForm button:hover {
  transition: box-shadow 0.3s, transform 0.3s;
  cursor: pointer;
  box-shadow: 0 5px 0 rgba(40, 203, 139, 0.6);
  transform: translateY(5px);
}
.contactUsForm form {
  margin-top: 2rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.contactUsForm input {
  padding: 0.8rem;
  border-radius: 10px;
  border: none;
  font-size: 1.1rem;
}
.userInfoContactUs {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

@media screen and (max-width: 1100px) {
  .tag {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .topPage {
    padding: 0;
    height: 50rem;
  }

  .tagText {
    padding: 0 5rem 0 5rem;
  }
  .downloadIconsSpan {
    margin-top: 5rem;
    flex-direction: column;
  }
  .phoneLogo {
    width: 12rem;
    height: 4rem;
  }
  .tagTextHighlight {
    left: 1rem;
    width: 2.5rem;
  }
  .userInfoContactUs {
    flex-direction: column;
  }
  .contactUsForm form {
    width: 80%;
  }
  .topPageRight {
    display: none;
  }
  .topPageLeft {
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .tag {
    width: 40%;
  }
  .blockInfo {
    display: flex;
    flex-direction: column;
  }
  .blocksInfo {
    height: 100%;
  }
  .blockInfo:nth-child(odd) {
    flex-direction: column;
  }
  .blockInfo > div {
    width: 100%;
    padding: 2rem;
  }
  .cardsMain {
    gap: 15rem;
    margin-top: 15rem;
  }
  .contactUs {
    margin-top: 10rem;
  }
  .contactUsImage {
    display: none;
  }
  .contactUsForm {
    width: 100%;
  }
  .downloadAppImage {
    display: none;
  }
  .downloadAppButtons {
    width: 100%;
  }
}
.team {
  margin-top: 10rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.team h1 {
  font-size: 3rem;
}
.teamMembers {
  flex-wrap: wrap;
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  margin-bottom: 10rem;
}
.teamMember {
  display: flex;

  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.teamMember h1 {
  font-size: 1.5rem;
  font-family: Arial;
}
.teamMemberImage {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .teamMembers {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .tag {
    width: 60%;
    background-color: white;
  }
}
